#initial-hidden1{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden2{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden3{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden4{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}

#initial-hidden5{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden6{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden7{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden8{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}

#initial-hidden9{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden10{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden11{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden12{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}

#initial-hidden13{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden14{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden15{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}
#initial-hidden16{
  display: none;
  background-color: inherit;
  border-color: #b463f2;
  border-width: 5px;
}

.well{
  text-align: center;
  background-color: #b463f2;
  border-color: #b463f2;
}

.jumbotron{
  text-align: center;
  font-size: 38px;
  font-family: serif;
}

body{
  background-color: #ffa10a;
}
